/* .header {
    background-color: #282c34;
    padding: 20px 0;
} */

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

/* nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none; */
/* } */

header {
    background-color: var(--primary-color);
    color: var(--header-color);
    padding: 1rem 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--header-color);
    text-decoration: none;
    font-weight: bold;
}